<%= form_for(@job) do |f| %>
  <table>
      <tr>
        <th> <%= f.label :title %> </th>
        <th> <%= f.text_field :title %> </th>
      </tr>
      <tr>
        <th> <%= f.label :description %> </th>
        <th> <%= f.text_area :description, size: '60x6' %> </th>
      </tr>
      <tr>
        <th> <%= f.label :location %> </th>
        <th> <%= f.text_field :location %> </th>
      </tr>
      <tr>
        <th> <%= f.label :company %> </th>
        <th> <%= f.text_field :company %> </th>
      </tr>
      <tr>
        <th> <%= f.label :level %> </th>
        <th> <%= f.text_field :level %> </th>
      </tr>
      <tr>
        <th> <%= f.label :qualifications %> </th>
        <th> <%= f.text_area :qualifications %> </th>
      </tr>
      <tr>
        <th> <%= f.submit %> </th> 
      </tr>
  </table>
<% end %>
