<p id="notice"><%= notice %></p>

<h1>RailsBridgeCorp Open Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><strong><%= job.title %></strong></td>
        <td><%= job.description %></td>
        <td><%= link_to 'Show', job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Job', new_job_path %>
